<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wedding.mapper.AlbumMapper">
  <resultMap id="BaseResultMap" type="com.wedding.model.po.Album">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="current_number" jdbcType="INTEGER" property="currentNumber" />
    <result column="max_number" jdbcType="INTEGER" property="maxNumber" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from album
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wedding.model.po.Album" keyProperty="id" useGeneratedKeys="true">
    insert into album (id, current_number, max_number
      )
    values (#{id,jdbcType=INTEGER}, #{currentNumber,jdbcType=INTEGER}, #{maxNumber,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wedding.model.po.Album">
    update album
    set current_number = #{currentNumber,jdbcType=INTEGER},
      max_number = #{maxNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, current_number, max_number
    from album
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, current_number, max_number
    from album
  </select>
</mapper>
