<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wedding.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.wedding.model.po.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="happiness_id" jdbcType="INTEGER" property="happinessId" />
    <result column="sender_id" jdbcType="INTEGER" property="senderId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wedding.model.po.Comment">
    insert into comment (id, happiness_id, sender_id, 
      content, state)
    values (#{id,jdbcType=INTEGER}, #{happinessId,jdbcType=INTEGER}, #{senderId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wedding.model.po.Comment">
    update comment
    set happiness_id = #{happinessId,jdbcType=INTEGER},
      sender_id = #{senderId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, happiness_id, sender_id, content, state
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, happiness_id, sender_id, content, state
    from comment
  </select>
  <resultMap id="BaseResultMap" type="com.wedding.model.po.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="happiness_id" jdbcType="INTEGER" property="happinessId" />
    <result column="sender_id" jdbcType="INTEGER" property="senderId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wedding.model.po.Comment">
    insert into comment (id, happiness_id, sender_id, 
      content, state)
    values (#{id,jdbcType=INTEGER}, #{happinessId,jdbcType=INTEGER}, #{senderId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wedding.model.po.Comment">
    update comment
    set happiness_id = #{happinessId,jdbcType=INTEGER},
      sender_id = #{senderId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, happiness_id, sender_id, content, state
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, happiness_id, sender_id, content, state
    from comment
  </select>
</mapper>