<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wedding.mapper.CreditCommentMapper" >
  <resultMap id="BaseResultMap" type="com.wedding.model.po.CreditComment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid1" property="userid1" jdbcType="INTEGER" />
    <result column="daterecordid" property="daterecordid" jdbcType="INTEGER" />
    <result column="basiccomment" property="basiccomment" jdbcType="INTEGER" />
    <result column="extracomment" property="extracomment" jdbcType="INTEGER" />
    <result column="labelcomment" property="labelcomment" jdbcType="INTEGER" />
    <result column="userid2" property="userid2" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from credit_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wedding.model.po.CreditComment" >
    insert into credit_comment (id, userid1, daterecordid,
      basiccomment, extracomment, labelcomment,
      userid2)
    values (#{id,jdbcType=INTEGER}, #{userid1,jdbcType=INTEGER}, #{daterecordid,jdbcType=INTEGER},
      #{basiccomment,jdbcType=INTEGER}, #{extracomment,jdbcType=INTEGER}, #{labelcomment,jdbcType=INTEGER},
      #{userid2,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wedding.model.po.CreditComment" >
    update credit_comment
    set userid1 = #{userid1,jdbcType=INTEGER},
      daterecordid = #{daterecordid,jdbcType=INTEGER},
      basiccomment = #{basiccomment,jdbcType=INTEGER},
      extracomment = #{extracomment,jdbcType=INTEGER},
      labelcomment = #{labelcomment,jdbcType=INTEGER},
      userid2 = #{userid2,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userid1, daterecordid, basiccomment, extracomment, labelcomment, userid2
    from credit_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userid1, daterecordid, basiccomment, extracomment, labelcomment, userid2
    from credit_comment
  </select>

  <select id="selectByUser1AndDateRecord" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userid1, daterecordid, basiccomment, extracomment, labelcomment, userid2
    from credit_comment
    where userid1 = #{userid1,jdbcType=INTEGER} and daterecordid = #{daterecordid,jdbcType=INTEGER}
  </select>
  <select id="selectByUser2" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userid1, daterecordid, basiccomment, extracomment, labelcomment, userid2
    from credit_comment
    where userid2 = #{userid2,jdbcType=INTEGER}
  </select>
</mapper>
