<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wedding.mapper.SearchMapper">
  <resultMap id="BaseResultMap" type="com.wedding.model.po.Search">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="youngest" jdbcType="INTEGER" property="youngest" />
    <result column="oldest" jdbcType="INTEGER" property="oldest" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="shortest" jdbcType="INTEGER" property="shortest" />
    <result column="tallest" jdbcType="INTEGER" property="tallest" />
    <result column="salary" jdbcType="VARCHAR" property="salary" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="marrige" jdbcType="INTEGER" property="marrige" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from search
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wedding.model.po.Search">
    insert into search (id, sex, youngest, 
      oldest, address, shortest, 
      tallest, salary,
      education, profession, marrige
      )
    values (#{id,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, #{youngest,jdbcType=INTEGER}, 
      #{oldest,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{shortest,jdbcType=INTEGER}, 
      #{tallest,jdbcType=INTEGER}, #{salary,jdbcType=VARCHAR},
      #{education,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, #{marrige,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wedding.model.po.Search">
    update search
    set sex = #{sex,jdbcType=INTEGER},
      youngest = #{youngest,jdbcType=INTEGER},
      oldest = #{oldest,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      shortest = #{shortest,jdbcType=INTEGER},
      tallest = #{tallest,jdbcType=INTEGER},
      salary = #{salary,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      marrige = #{marrige,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, sex, youngest, oldest, address, shortest, tallest, salary, education,
    profession, marrige
    from search
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, sex, youngest, oldest, address, shortest, tallest, salary, education,
    profession, marrige
    from search
  </select>
</mapper>