<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wedding.mapper.WeddingMapper" >
  <resultMap id="BaseResultMap" type="com.wedding.model.po.Wedding" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="applicant_id" property="applicantId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wedding
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wedding.model.po.Wedding" >
    insert into wedding (id, applicant_id, name, 
      phone, email, total, 
      location, detail, state
      )
    values (#{id,jdbcType=INTEGER}, #{applicantId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{total,jdbcType=INTEGER}, 
      #{location,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wedding.model.po.Wedding" >
    update wedding
    set applicant_id = #{applicantId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, applicant_id, name, phone, email, total, location, detail, state
    from wedding
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, applicant_id, name, phone, email, total, location, detail, state
    from wedding
  </select>
</mapper>